*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

#mainNav {
  height: 65px;
  background-color: #3c3e43;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

body {
  height: 100vh;
}

main {
  height: 100%;
}

section.masthead {
  background: url(../images/backgrounds/stars.png);
}

section.masthead h1 {
  color: #e4f46c;
  font-size: 10rem;
}

section.masthead p {
  color: #ffffff;
  font-size: 5rem;
}

section.about {
  background-color: #e4f46c;
}

section.about div.image-container {
  background-color: #2e2e2e;
  height: 80%;
  width: 44.5%;
}

section.about div.text-container {
  background-color: #2e2e2e;
  height: 80%;
  width: 44.5%;
}

section.about div.text-container h2 {
  color: #e4f46c;
  font-size: 5rem;
}

section.about div.text-container p#en {
  color: #ffffff;
  font-size: 2.5rem;
}

section.about div.text-container p#en strong {
  color: #e4f46c;
  font-size: 2.5rem;
}

section.about div.text-container p#chin {
  color: #ffffff;
  font-size: 1.5rem;
}

section.learning {
  background-color: #242528;
}

section.learning div.col {
  background-color: #2e2e2e;
}

section.learning h2 {
  color: #ffffff;
  font-size: 6rem;
}

section.learning p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

section.learning section {
  background-color: #2e2e2e;
}

section.learning section h3 {
  color: #e4f46c;
  font-size: 3rem;
}

section.learning section p {
  color: #ffffff;
  line-height: 2rem;
}

section.join-us {
  background-color: #3c3e43;
}

section.join-us h2 {
  color: #e4f46c;
  font-size: 5rem;
}

section.join-us p {
  color: #ffffff;
  font-size: 1rem;
}

section.events {
  background-color: #242528;
}

section.events h2 {
  color: #e4f46c;
  font-size: 5rem;
}

section.events article.card {
  background-color: #3c3e43;
  color: #ffffff;
}

section.events article.card h3 {
  font-size: 3rem;
}

section.events article.card p {
  font-size: 1rem;
}
